@import url('http://getbootstrap.com/dist/css/bootstrap.css');
html,
body {
  height: 100%
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

a{
  color: white;
}

a:hover{
  color:white;
}


.headingDiv {
  padding: 0px;
  display: flex;
  justify-content: center;
}

.heading{
  margin-left: 180px;
  display: flex;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}

body {
  background: url("../mainTest1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
  width: 70%;
  background: white;

}
