@import url('http://getbootstrap.com/dist/css/bootstrap.css');
html,
body {
  height: 100%
}

.side-navbar {
  width: 15%;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.navTitle{
  color:#DBD5B5;
}


.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

a{
  color: white;
}

a:hover{
  color:white;
}



.icons{
  margin:5px;
  width: 1.5em;
  height:auto;
}

.headingDiv {
  padding: 0px;
  display: flex;
  justify-content: center;

  padding-top: 1em;
}

.heading{
  margin-left: 180px;
  display: flex;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;

}

body {
  background: url("../allPics/mainTest1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
    height: 85%;
    /* display: flex;
    justify-content: center; */

}

.content{
  margin-left: 180px;
  width: 85%;
  display: flex;
  justify-content: center;
}

audio{
  width: 180px;
  margin: 0;
}

/* fade in css */



.item {
  width: 75%;
  height: 30%;

  background: #ccc;
  text-align: center;

  opacity: .1;
  border-radius: 1em;
}
